/*Global*/
.background {
    background-color: #333;
    color: white;
}

/*@media (prefers-color-scheme: light) {
    .background {
        background-color: #f9f9f9;
        color: black;
    }
}*/

.wordle-green {
    background: #25af5c;
}

.wordle-yellow {
    background: #ffc217;
}

.wordle-grey {
    background: #3a3a3c;
}


/*
author: Elin Piho
section: Home Page
*/

.btn-elinsTestFärg {
    background-color: #faa4d5;
    color: black;
    border: 2px solid black !important;
    outline: none;
    font-size: 10px;
}

.wordle-font {
    color: #25af5c;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
}

.wordle-font2  {
    font-family: "DM Sans", sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.btn-start {
    background-color: #757575;
    font-family: Verdana;
    color: white;
    border: none !important;
    border-radius: 4px;
    padding: 15px 60px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    width: 300px;
}

.btn-start:hover {
    background-color: #3a3a3c;
}

.text-font  {
    font-family: "Comic Sans MS";
    color: hotpink;
    font-size: 40px;
}

.margins-home  {
    margin-top: 50px;
    margin-bottom: 20px;
}

.bottom-left  {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.start-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.start-display img {
    margin-bottom: -100px;
}

/*
author: Elin Piho
section: home page modal
*/
.modal-style  {
    display: none;
    color: black;
}

.modal-dialog {
    max-width: 600px;
    margin-top: 80px;
    max-width: 600px;
    margin-top: 80px;
}

.modal-dialog-stats  {
    max-width: 800px;
    margin-top: 80px;
    max-width: 600px;
    margin-top: 80px;
}

.modal-content {
    border-radius: 15px;
    border: none;
    background-color: #f9f9f9;
    color: black;
}

.modal-header {
    background-color: #e0dfdf;
    color: black;
    border-bottom: none;
    font-family: 'Playfair Display', serif;
}

.modal-body {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

.modal-footer {
    border: none;
}

select.form-control {
    background-color: #1a1a1b;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

select.form-control option {
    background-color: #1a1a1b;
    color: white;
}

/*
author: Cecilia Raalas
section: Settings
 */

.settingsPage {
    font-family: "Times New Roman", sans-serif;
    background-color: #f9f9f9;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

@media (prefers-color-scheme: dark) {
    .settingsPage {
        background-color: #333;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
}

#settings {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    color: white;
}
label { display: block; margin: 10px 0; }
button { margin-top: 15px; padding: 10px 20px; cursor: pointer; }

.shapeOption {
    display: inline-block;
    font-size: 40px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid #555;
    border-radius: 8px;
}

.shapeOption.selected {
    border-color: blue;
    background: #333;
}

.wordLengthOption {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border: 2px solid #555;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}

.wordLengthOption.selected {
    border-color: blue;
    background: #333;

}

.nbrOfGuessesOption {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border: 2px solid #555;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}

.nbrOfGuessesOption.selected {
    border-color: blue;
    background: #333;

}

.countryOption {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border: 2px solid #555;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}

.countryOption.selected {
    border-color: blue;
    background: #333;
}

/*
author: Cecilia Raalas
section: Gameboard
*/

.gameboard {
    font-family: "Times New Roman", sans-serif;
    background: #333;
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}


/*@media (prefers-color-scheme: light) {
    .gameboard {
        ffont-family: "Times New Roman", sans-serif;
        background: #f9f9f9;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
}*/

.gameboard img {
    margin-bottom: -100px;
}

h1 { margin-bottom: 10px; }

#board{
    display: grid;
    gap: 5px;
    margin-bottom: 20px;
}
.tile {
    width: 48px;
    height: 48px;
    border: 2px solid #444;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-transform: uppercase;

}
.correctLetter {
    background: #25af5c;
    border-color: #25af5c;
    color: #fff;
}
.existingLetter {
    background: #ffc217;
    border-color: #ffc217;
    color: #fff;
}
.wrongLetter {
    background: #3a3a3c;
    border-color: #3a3a3c;
    color: #fff;
}

#keyboard {
    margin-top: 20px;

}

.keyboardRow {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;

}

.key{
    background: #444;
    color: #fff;
    height: 46px;
    width: 46px;
    border: none;
    margin: 3px;
    padding: 12px 14px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}
.correctGuessedKey{
    background: #25af5c;
    color: #fff;
    height: 46px;
    width: 46px;
    border: none;
    margin: 3px;
    padding: 12px 14px;
    border-radius: 6px;
    font-size: 16px;
}
.existingGuessedKey{
    background: #ffc217;
    color: #fff;
    height: 46px;
    width: 46px;
    border: none;
    margin: 3px;
    padding: 12px 14px;
    border-radius: 6px;
    font-size: 16px;
}

.wrongGuessedKey{
    background: #262628;
    color: #fff;
    height: 46px;
    width: 46px;
    border: none;
    margin: 3px;
    padding: 12px 14px;
    border-radius: 6px;
    font-size: 16px;
}



.actionKey {
    background: #444;
    padding: 12px 14px;
    height: 46px;
    width: 80px;

}

/*
author: Isabell Persson
section: Statistics
*/
.text-font-statistics {
    font-family: "Times New Roman";
    color: antiquewhite;
    font-size: 40px;
}

.statistics-style {
    font-family: "Times New Roman";
    font-size: 20px;
    background-color: #333;
    color: white;
}

/*@media (prefers-color-scheme: light) {
    .statistics-style {
        font-family: "Times New Roman";
        font-size: 20px;
        background-color: #f9f9f9;
        color: black;
    }
}*/


.statistics-diagram-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.statistics-flag {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border: 2px solid #555;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    cursor: pointer;
}

.statistics-flag.selected {
    border-color: blue;
    background: #333;
}

.statistics-circle-diagram {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: conic-gradient(
            #4caf50 0% 38%,
            #555 38% 55%,
            #eeeeee 55% 78%,
            #ffc217 78% 100%
    );
}

.statistics-diagram-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;
}

.statistics-diagram-bar-text {
    margin:0;
}


/*
author: Isabell Persson
section: Rules
*/
.rules-fake-key-gray{
    background: #757575;
    color: #fff !important;
    height: 46px;
    width: 46px;
    border: none;
    margin: 3px;
    padding: 12px 14px;
    border-radius: 6px;
    font-size: 16px;
    font-family: "Times New Roman";
}

.rules-fake-key-yellow{
    background: #ffc217;
    color: #fff;
    height: 46px;
    width: 46px;
    border: none;
    margin: 3px;
    padding: 12px 14px;
    border-radius: 6px;
    font-size: 16px;
    font-family: "Times New Roman";
}

.rules-fake-key-green{
    background: #25af5c;
    color: #fff;
    height: 46px;
    width: 46px;
    border: none;
    margin: 3px;
    padding: 12px 14px;
    border-radius: 6px;
    font-size: 16px;
    font-family: "Times New Roman";
}
