/*Global*/



/*
author: Elin Piho
section: Home Page
*/

.btn-elinsTestFärg {
    background-color: pink;
    color: black;
    border: 2px solid black !important;
    outline: none;
    font-size: 20px;
}

.wordleFont {
    color: #25af5c;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
}

.btn-start  {
    font-family: "Verdana";
    color: black;
    font-size: 40px;
    border: 2px solid black !important;
    outline: none;
}

.textFont  {
    font-family: "Comic Sans MS";
    color: hotpink;
    font-size: 40px;
}
/*
author: Cecilia Raalas
section: Settings
 */

.settingsPage {
    font-family: "Times New Roman", sans-serif;
    background: #111;
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
#settings {
    background: #222;
    padding: 20px;
    border-radius: 10px;
}
label { display: block; margin: 10px 0; }
button { margin-top: 15px; padding: 10px 20px; cursor: pointer; }

.shapeOption {
    display: inline-block;
    font-size: 40px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid #555;
    border-radius: 8px;
}

.shapeOption.selected {
    border-color: blue;
    background: #333;
}

.wordLengthOption {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border: 2px solid #555;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}

.wordLengthOption.selected {
    border-color: blue;
    background: #333;

}

.nbrOfGuessesOption {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border: 2px solid #555;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}

.nbrOfGuessesOption.selected {
    border-color: blue;
    background: #333;

}

.countryOption {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border: 2px solid #555;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}

.countryOption.selected {
    border-color: blue;
    background: #333;
}

/*
author: Cecilia Raalas
section: Gameboard
*/

.gameboard {
    font-family: "Times New Roman", sans-serif;
    background: #111;
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

h1 { margin-bottom: 10px; }

#board{
    display: grid;
    gap: 5px;
    margin-bottom: 20px;
}
.tile {
    width: 48px;
    height: 48px;
    border: 2px solid #444;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-transform: uppercase;

}
.correctLetter {
    background: #25af5c;
    border-color: #25af5c;
    color: #fff;
}
.existingLetter {
    background: #ffc217;
    border-color: #ffc217;
    color: #fff;
}
.wrongLetter {
    background: #3a3a3c;
    border-color: #3a3a3c;
    color: #fff;
}

#keyboard {
    margin-top: 20px;

}

.keyboardRow {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;

}

.key{
    background: #444;
    color: #fff;
    height: 46px;
    width: 46px;
    border: none;
    margin: 3px;
    padding: 12px 14px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.action {
    background: #444;
    padding: 12px 14px;
    height: 46px;
    width: 80px;

}

/*
author: Isabell Persson
section: Statistics
*/

.text-font-statistics {
    font-family: "Times New Roman";
    color: antiquewhite;
    font-size: 40px;
}

.statistics-style {
    font-family: "Times New Roman";
    font-size: 20px;
    background-color: black !important;
    color: white !important;
}

.statistics-flag-bar {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border: 2px solid #555;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}

.statistics-circle-diagram {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(
            #4caf50 0% 38%,
            #555 38% 55%,
            #eeeeee 55% 78%,
            #ffc217 78% 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
}

.statistics-diagram-bar {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 6px;
}

.statistics-diagram-bar-text {
    margin:0;
}
