/*Global*/



/*
author: Elin Piho
section: Home Page
*/

.btn-elinsTestFärg {
    background-color: pink;
    color: black;
    border: 2px solid black !important;
    outline: none;
    font-size: 20px;
}

.wordleFont {
    color: #25af5c;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
}

.btn-start  {
    font-family: "Verdana";
    color: black;
    font-size: 40px;
    border: 2px solid black !important;
    outline: none;
}

.textFont  {
    font-family: "Comic Sans MS";
    color: hotpink;
    font-size: 40px;
}

/*
author: Cecilia Raalas
section: Gameboard
*/


/*
author: Isabell Persson
section: Statistics
*/

.text-font-statistics {
  font-family: "Times New Roman";
  color: antiquewhite;
  font-size: 40px;
}

.statistics-style {
    font-family: "Times New Roman";
    font-size: 20px;
    background-color: black !important;
    color: white !important;
}

.statistics-flag-bar {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px;
  border: 2px solid #555;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
}

.statistics-circle-diagram {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}