/*Global*/
.background {
    background-color: #333;
    color: white;
}

/*@media (prefers-color-scheme: light) {
    .background {
        background-color: #f9f9f9;
        color: black;
    }
}*/

.wordle-green {
    background: #25af5c;
}

.wordle-yellow {
    background: #ffc217;
}

.wordle-grey {
    background: #3a3a3c;
}



/*
author: Elin Piho
section: Home Page
*/

.logo-home  {
    width: 400px;
    margin-top: 50px;
}

.btn-elinsTestFärg {
    background-color: #faa4d5;
    color: black;
    border: 2px solid black !important;
    outline: none;
    font-size: 10px;
}

.wordle-font {
    color: #25af5c;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
}

.wordle-font2  {
    font-family: "DM Sans", sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.btn-start {
    background-color: #757575;
    font-family: Verdana;
    color: white;
    border: none !important;
    border-radius: 4px;
    padding: 15px 60px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    width: 300px;
}

.btn-start:hover {
    background-color: #3a3a3c;
}

.text-font  {
    font-family: "Comic Sans MS";
    color: hotpink;
    font-size: 40px;
}

.margins-home  {
    margin-top: 50px;
    margin-bottom: 20px;
}

.bottom-left  {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.start-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    justify-content: center;
}

.start-display img {
    transform: translateX(8px);
    margin-bottom: 0px;
}

/*
author: Elin Piho
section: home page modal
*/
.modal-style  {
    display: none;
    color: black;
}

.modal-dialog {
    max-width: 600px;
    margin-top: 80px;
    max-width: 600px;
    margin-top: 80px;
}

.modal-dialog-stats  {
    max-width: 800px;
    margin-top: 80px;
    max-width: 600px;
    margin-top: 80px;
}

.modal-content {
    border-radius: 15px;
    border: none;
    background-color: #f9f9f9;
    color: black;
}

.modal-header {
    background-color: #e0dfdf;
    color: black;
    border-bottom: none;
    font-family: 'Playfair Display', serif;
}

.modal-body {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

.modal-footer {
    border: none;
}

select.form-control {
    background-color: #1a1a1b;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

select.form-control option {
    background-color: #1a1a1b;
    color: white;
}

/*
author: Cecilia Raalas
section: Settings
 */

.settingsPage {
    font-family: "Times New Roman", sans-serif;
    background-color: #f9f9f9;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/*@media (prefers-color-scheme: dark) {
    .settingsPage {
        background-color: #333;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
}*/

#settings {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    color: white;
}
label { display: block; margin: 10px 0; }
button { margin-top: 15px; padding: 10px 20px; cursor: pointer; }

.shapeOption {
    display: inline-block;
    font-size: 40px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid #555;
    border-radius: 8px;
}

.shapeOption.selected {
    border-color: blue;
    background: #757575;
}

.wordLengthOption {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border: 2px solid #555;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}

.wordLengthOption.selected {
    border-color: blue;
    background: #757575;

}

.nbrOfGuessesOption {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border: 2px solid #555;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}

.nbrOfGuessesOption.selected {
    border-color: blue;
    background: #757575;

}

.countryOption {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border: 2px solid #555;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}

.countryOption.selected {
    border-color: blue;
    background: #757575;
}

/*
author: Cecilia Raalas, Elin Piho
section: Gameboard
*/

.gameboard {
    font-family: "Times New Roman", sans-serif;
    background: #333;
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}


/*@media (prefers-color-scheme: light) {
    .gameboard {
        ffont-family: "Times New Roman", sans-serif;
        background: #f9f9f9;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
}*/

h1 { margin-bottom: 10px; }

#board{
    display: grid;
    gap: 5px;
    margin-bottom: 20px;
}
.tile {
    width: 48px;
    height: 48px;
    border: 2px solid #444;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-transform: uppercase;

}
.rhomb{
    width: 34px;
    height: 34px;
    border: 2px solid #eeeeee;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.rhomb span{
    transform: rotate(-45deg);
}
.correctLetter {
    background: #25af5c;
    border-color: #25af5c;
    color: #fff;
}
.existingLetter {
    background: #ffc217;
    border-color: #ffc217;
    color: #fff;
}
.wrongLetter {
    background: #3a3a3c;
    border-color: #3a3a3c;
    color: #fff;
}

#keyboard {
    margin-top: 20px;

}

.keyboardRow {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;

}

.key{
    background: #5b5b5b;
    color: #fff;
    height: 46px;
    width: 46px;
    border: none;
    margin: 3px;
    padding: 12px 14px;
    border-radius: 6px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.correctGuessedKey{
    background: #25af5c;
    color: #fff;
    height: 46px;
    width: 46px;
    border: none;
    margin: 3px;
    padding: 12px 14px;
    border-radius: 6px;
    font-size: 16px;
}
.existingGuessedKey{
    background: #ffc217;
    color: #fff;
    height: 46px;
    width: 46px;
    border: none;
    margin: 3px;
    padding: 12px 14px;
    border-radius: 6px;
    font-size: 16px;
}

.wrongGuessedKey{
    background: #232326;
    color: #fff;
    height: 46px;
    width: 46px;
    border: none;
    margin: 3px;
    padding: 12px 14px;
    border-radius: 6px;
    font-size: 16px;
}



.actionKey {
    background: #5b5b5b;
    padding: 12px 14px;
    height: 46px;
    width: 80px;
}

.logo-game  {
    width: 400px;
    margin-top: 50px;
    margin-bottom: 35px;
}

/*
author: Isabell Persson
section: Statistics
*/
.text-font-statistics {
    font-family: "Times New Roman";
    color: antiquewhite;
    font-size: 40px;
}

.statistics-style {
    font-family: "Times New Roman";
    font-size: 20px;
    background-color: #f9f9f9;
    color: black;
}

/*@media (prefers-color-scheme: light) {
    .statistics-style {
        font-family: "Times New Roman";
        font-size: 20px;
        background-color: #f9f9f9;
        color: black;
    }
}*/


.statistics-diagram-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.statistics-flag {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border: 2px solid #555;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    cursor: pointer;
}

.statistics-flag.selected {
    border-color: blue;
    background: #333;
}

.statistics-circle-diagram {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: conic-gradient(
            #4caf50 0% 38%,
            #555 38% 55%,
            #eeeeee 55% 78%,
            #ffc217 78% 100%
    );
}

.statistics-diagram-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;
}

.statistics-diagram-bar-text {
    margin: 0;
}

.toast {
    background-color: #f9f9f9;
    border: none;
}

.toast-header {
    background-color: #e0dfdf;
    color: black;
    border: none;
    font-family: 'Playfair Display', serif;
}

.toast-body {
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
}

.toast-header .btn-close {
    filter: invert(1);  /* gör stäng-knappen vit */
}


/*
author: Isabell Persson
section: Rules
*/
.rules-fake-key-gray{
    background: #757575;
    color: #fff !important;
    height: 46px;
    width: 46px;
    border: none;
    margin: 3px;
    padding: 12px 14px;
    border-radius: 6px;
    font-size: 16px;
    font-family: "Times New Roman";
}

.rules-fake-key-yellow{
    background: #ffc217;
    color: #fff;
    height: 46px;
    width: 46px;
    border: none;
    margin: 3px;
    padding: 12px 14px;
    border-radius: 6px;
    font-size: 16px;
    font-family: "Times New Roman";
}

.rules-fake-key-green{
    background: #25af5c;
    color: #fff;
    height: 46px;
    width: 46px;
    border: none;
    margin: 3px;
    padding: 12px 14px;
    border-radius: 6px;
    font-size: 16px;
    font-family: "Times New Roman";
}

/*
author: Isabell Persson
section: Toolbar
*/
.toolbar-style{
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5px;
    display: flex;
    background: #757575;
}

.toolbar-cogwheel-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #eeeeee;
    position: relative;
    margin: 5px;
    cursor: pointer;
    overflow: hidden;
}

.toolbar-cogwheel-button::before {
    content: "";
    position: absolute;
    inset: 12px;
    background: #757575;
    border-radius: 50%;
}

.toolbar-cogwheel-button::after {
    content: "";
    position: absolute;
    inset: -2px;
    background:
            repeating-conic-gradient(
                    #eeeeee 0deg 28deg,
                    #757575 28deg 60deg
            );
    border-radius: 50%;

    -webkit-mask: radial-gradient(circle, transparent 45%, black 46%);
    mask: radial-gradient(circle, transparent 45%, black 46%);
}

.toolbar-rules-button{
    font-family: "Times New Roman";
    font-size: 30px;
    background: none;
    color: #eeeeee;
    border: 2px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}

.toolbar-return-button{
    font-family: "Times New Roman";
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #757575;
    border: none;
    color: #eeeeee;
    margin: 5px;
    cursor: pointer;
}

.toolbar-statistics-button {
    width: 35px;
    height: 35px;
    background: #757575;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toolbar-button-area {
    position: relative;
    width: 26px;
    height: 18px;
}

.seg {
    position: absolute;
    height: 2px;
    background: #eeeeee;
    border-radius: 1px;
}

.s1 {
    width: 17px;
    right: -3px;
    top: 10px;
    transform: rotate(-50deg);
    transform-origin: left center;
}

.s2 {
    width: 14px;
    left: -4px;
    top: -4px;
    transform: rotate(38deg);
    transform-origin: left center;
}

.s3 {
    width: 20px;
    left: 8px;
    top: 4px;
    transform: rotate(-50deg);
    transform-origin: left center;
}

.toolbar-account-button {
    position: relative;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
}

.toolbar-account-button::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 50%;
    width: 12px;
    height: 12px;
    transform: translateX(-50%);
    border: 2px solid #eeeeee;
    border-radius: 50%;
    background: none;
}

.toolbar-account-button::after {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 24px;
    height: 12px;
    transform: translateX(-50%);
    border: 2px solid #eeeeee;
    border-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: none;
}

.toolbar-place-left {
    display: flex;
    align-items: center;
}

.toolbar-place-right {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 10px;
}

/* ATTEMPT TO DO TRANGLES
.triangle-test-ish-working{
    clip-path: polygon(
            50% 0%,
            0% 100%,
            100% 100%
    );

    background: #eeeeee;
    color: #1a1a1b;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 6px;
}


.triangle-test {
    position: relative;

    width: 48px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    padding-bottom: 5px;
}

.triangle-test svg{
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
}

.triangle-test polygon{
    fill: none;
    stroke: #eeeeee;
    stroke-width: 4;
}

.triangle-test span{
    position: relative;
    z-index: 1;

    color: #eeeeee;
}


.triangle-test-2{
    width: 48px;
    height: 48px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    padding-bottom: 6px;

    color: #eeeeee;

    clip-path: polygon(
            50% 0%,
            0% 100%,
            100% 100%
    );

    background: transparent;
}

.triangle-test-2::before{
    content: "";

    position: absolute;
    inset: 0;

    clip-path: inherit;

    outline: 2px solid #eeeeee;
    outline-offset: -2px;

    pointer-events: none;
}

.triangle-test-2 span{
    position: relative;

    transform: translateY(6px);

    z-index: 1;
}
 */

