<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>game-rules</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="background">
    <h1>Game Rules</h1>

    <h2>Flexidle - a guessing game where you have to guess the correct word with color-clues.</h2>

    <p>The <b>length</b> of each row is corresponding to <b>wordlength</b>, and the <b>amount</b> of rows shows how many <b>guesses</b> you have.</p>

    <br>

    <h2>But what about the colors-clues, then? </h2>

    <p>A <b>gray</b> color on your guessed letter means that it is <b>not a part of the correct word:</b></p>
    <div>
        <button class="rules-fake-key-gray">W</button>
        <button class="rules-fake-key-gray">O</button>
        <button class="rules-fake-key-gray">R</button>
        <button class="rules-fake-key-gray">D</button>
    </div>
    <br>

    <p><b>Yellow</b>, however, means that the letter you guessed is <b>in the word but in the wrong spot:</b></p>
    <div>
        <button class="rules-fake-key-gray">I</button>
        <button class="rules-fake-key-gray">D</button>
        <button class="rules-fake-key-yellow">E</button>
        <button class="rules-fake-key-yellow">A</button>
    </div>
    <br>

    <p>When your guessed letter turns <b>green</b> you have made a <b>correct placement of that letter:</b></p>
    <div>
        <button class="rules-fake-key-yellow">M</button>
        <button class="rules-fake-key-green">A</button>
        <button class="rules-fake-key-gray">K</button>
        <button class="rules-fake-key-green">E</button>
    </div>
    <br>

    <p>When your guessed the right word - <b>everything is green:</b></p>
    <div>
        <button class="rules-fake-key-green">G</button>
        <button class="rules-fake-key-green">A</button>
        <button class="rules-fake-key-green">M</button>
        <button class="rules-fake-key-green">E</button>
    </div>
    <br>

    <h2>Good luck!</h2>

</body>
</html>