<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="settingsPage">

<h1> Settings </h1>
<div id="settings">
    <label>Background Color:
        <input type="color" id="bgColor" value="#111111">
    </label>

    <div class="shape options">
        <div class="optionsLabel">Shapes:</div>
        <div class="shapeOption" data-value="circle">⚪</div>
        <div class="shapeOption" data-value="square">◻️</div>
        <div class="shapeOption" data-value="heart">💙</div>
        <div class="shapeOption" data-value="dog">🐶</div>
        <div class="shapeOption" data-value="diamond">🔷</div>
        <div class="shapeOption" data-value="triangle">△</div>
    </div>

    <div class="country options">
        <div class="countryOptionLabel">Language:</div>
        <div class="countryOption" data-value="swedish">🇸🇪</div>
        <div class="countryOption" data-value="english">🇬🇧</div>
        <div class="countryOption" data-value="german">🇩🇪</div>

    </div>


    <div class="wordLengthOptions">
        <div class="wordLengthoptionLabel">Word Length:</div>
        <div class="wordLengthOption" data-len="4">4</div>
        <div class="wordLengthOption" data-len="5">5</div>
        <div class="wordLengthOption" data-len="6">6</div>
    </div>


    <div class="nbrOfGuessesOptions">
        <div class="nbrOfGuessesOptionLabel">Number of guesses:</div>
        <div class="nbrOfGuessesOption" data-len="4">4</div>
        <div class="nbrOfGuessesOption" data-len="5">5</div>
        <div class="nbrOfGuessesOption" data-len="6">6</div>
    </div>

    <div class="buttonsPlayOrRandom">
        <button onclick="startGame()">PLAY</button>
        <button onclick="chooseRandomSettings()">RANDOMISE</button>
    </div>

</div>

<script src="/js/settings.js"></script>

</body>
</html>