<!--
author: Isabell Persson
section: Statistics
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/statistics.js" defer></script>
</head>
<body id="statistics" class="statistics-style">

<h1>Statistics</h1>

<div>
    <h3>Language</h3>
    <br>
    <div class="statistics-flag" data-value="swedish">🇸🇪</div>
    <div class="statistics-flag" data-value="english">🇬🇧</div>
    <div class="statistics-flag" data-value="german">🇩🇪</div>
</div>
<br>

<div>
    <h3>Global statistics</h3>
    <br>
    <div class="statistics-diagram-bar">
        <h5 class="statistics-diagram-bar-text">Wordlength: 4</h5>
        <div class="statistics-circle-diagram" id="g4"></div>
        <h5 class="statistics-diagram-bar-text">Wordlength: 5</h5>
        <div class="statistics-circle-diagram" id="g5"></div>
        <h5 class="statistics-diagram-bar-text">Wordlength: 6</h5>
        <div class="statistics-circle-diagram" id="g6"></div>
    </div>
</div>
<br>

<div>
    <h3>Personal statistics</h3>
    <br>
    <div class="statistics-diagram-bar">
        <h5 class="statistics-diagram-bar-text">Wordlength: 4</h5>
        <div class="statistics-circle-diagram" id="p4"></div>
        <h5 class="statistics-diagram-bar-text">Wordlength: 5</h5>
        <div class="statistics-circle-diagram" id="p5"></div>
        <h5 class="statistics-diagram-bar-text">Wordlength: 6</h5>
        <div class="statistics-circle-diagram" id="p6"></div>
    </div>
</div>


</body>
</html>